.bodyBlank {
	margin: auto;
	width:30%;
	background-color: white;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#imgIndex {
	margin: auto;
	background-image: url("/assets/images/background.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.9 ;
	border-radius: 8px;
	height: 720px;
}

.titre {
	margin: auto;
	width: 30%;
	background-color: white;
	border: 1px solid #B2D1F0;
	border-radius: 8px;
	opacity: 0.9;
	position: relative;
	top: -10px;
}

.blocImage {
	margin: auto;
	width: 510px;;
	background-color: white;
	border: 1px solid #B2D1F0;
	border-radius: 8px;
	position: relative;
	top: -5px;
}

.image {
	margin: 10px;
}

.news {
	margin: auto;
	width: 40%;
	background-color: white;
	border: 1px solid #B2D1F0;
	border-radius: 8px;
}

.btn-classement {
	margin: auto;
	width: 40%;
	background-color: white;
}

.classement {
	test-align: right;
	width: 25%;
	background-color: white;
	border: 1px solid;
	border-radius: 8px;
}

.prono {
	test-align: left;
	width: 25%;
	background-color: white;
	border: 1px solid;
	border-radius: 8px;
}