@(test: List[Matche],pronostiques: List[Pronostique], pronostiqueForm: Form[Pronostique],user: Utilisateur, journees: List[Journee], journee: Journee)
@import helper.twitterBootstrap._

@main(user) {	
	<h1>Liste des matches</h1>
	<div class="row">
		<div class="span3 offset4">
			<table class="table table-striped">
				<thead>
					<tr>
						<td colspan="3">
						<select id="journeeSelect" name="journee" size="1" onchange="javascript:submitJournee('/pronostics?id=')">
							@for(journeeTemp <- journees) {
								@if(journeeTemp==journee) {
									<option value="@journeeTemp.id" selected="selected">@journeeTemp.getNomJournee()
								} else {
									<option value="@journeeTemp.id">@journeeTemp.getNomJournee()
								}
							}
						</select></td>

					</tr>
					<tr>				
						<th>Domicile</th>
						<th></th>
						<th style="text-align:right;">Ext&eacute;rieur</th>
					</tr>
				</thead>
				<tbody>			
					@for(matchTemp <- test) {
						@helper.form(routes.Pronostiques.save(matchTemp.id.toString())) {
							@if(!pronostiques.isEmpty() && !pronostiques.filter(_.getMatche().id.equals(matchTemp.id)).isEmpty()){
								<tr>
									<td>@matchTemp.getEquipe1().getNom()</td>
									<td style="text-align: center;">@pronostiques.filter(_.getMatche().id.equals(matchTemp.id)).head.getPronoEquipe1() - @pronostiques.filter(_.getMatche().id.equals(matchTemp.id)).head.getPronoEquipe2()
									<input type="button" value="Changer" class="btn btn-warning btn-mini" onclick="javascript:pronostiquer('Pronostics_@matchTemp.id');"></td>
									<td style="text-align:right;">@matchTemp.getEquipe2().getNom()</td>
								</tr>
								<tr id="Pronostics_@matchTemp.id" style="display:none;">
									<td colspan="3" style="text-align: center;">
										<fieldset>
											@helper.inputText(pronostiqueForm("pronoEquipe1"), '_label -> matchTemp.equipe1.getNom())
											@helper.inputText(pronostiqueForm("pronoEquipe2"), '_label -> matchTemp.equipe2.getNom())
										</fieldset>
									<div class="actions">
            							<input type="submit" value="Valider" class="btn">
     								</div>
									</td>
								</tr>
							}else{
								<tr>
									<td>@matchTemp.getEquipe1().getNom()</td>
									<td><input type="button" value="Pronostiquer" class="btn btn-success btn-mini" onclick="javascript:pronostiquer('Pronostics_@matchTemp.id');"></td>
									<td style="text-align:right;">@matchTemp.getEquipe2().getNom()</td>
								</tr>
								<tr id="Pronostics_@matchTemp.id" style="display:none;">
									<td colspan="3" style="text-align: center;">
									<fieldset>
										@helper.inputText(pronostiqueForm("pronoEquipe1"), '_label -> matchTemp.equipe1.getNom())
										@helper.inputText(pronostiqueForm("pronoEquipe2"), '_label -> matchTemp.equipe2.getNom())
									</fieldset>
									<div class="actions">
            							<input type="submit" value="Valider" class="btn">
     								</div>
									</td>
      							</tr>
								}
							}
							</td>
						</tr>
					}	
<!-- 					@for(pronostiqueTemp <- pronostiques) { -->
<!-- 						<tr> -->
<!-- 							<td colspan="3"> -->
<!-- 							@pronostiqueTemp.getMatche().getEquipe1().getNom(): @pronostiqueTemp.getPronoEquipe1() @pronostiqueTemp.getMatche().getEquipe2().getNom(): @pronostiqueTemp.getPronoEquipe2() -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 					}		 -->
				</tbody>
			</table>
		</div>
	</div>
}

<script>
	function pronostiquer(id) {
	 	$('#'+id).toggle('fast');
	 }
</script>
<script>
	function submitJournee(path) {
		var id = $('#journeeSelect').val();
	 	document.location.href=path+id;
	 }
</script>